<div class="container mt-2">

  @if (customers | async; as listCustomers) {
    <div class="card">
      <div class="card-header">Customers</div>
      <div class="card-body">
        @if (searchFormGroup){

        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()"  >
            <div class="input-group">
                <label class="input-group-text">keyword:</label>
              <input class="form-control" type="text" formControlName="keyword">
              <button class="btn btn-info">
                <i class="bi bi-search" > </i>
              </button>
            </div>
        </form>
        }
          <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
          </tr>
          </thead>
          <tbody>
            @for (c of listCustomers; track c.id) {
              <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td><button class="btn btn-danger" (click)="handleDeleteCustomer(c)" > <i class="bi bi-trash"></i> </button> </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="3">No customers found.</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  } @else if (errorMessage) {

    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
  } @else{
    Loading...
  }

</div>
